.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    padding-top: 40px;

    .container {
        justify-content: flex-start;
        align-items: center;

    }

    &_logo {
        margin-right: auto;
    }

    .nav {
        margin-right: 63px;

        &_list {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }
    
        &_item {
            padding-right: 30px;
            position: relative;
    
            &:last-child {
                margin-right: 0;
            }

            // &:before {
            //     content: "";
            //     position: absolute;
            //     width: 100%;
            //     height: 50px;
            //     top: 100%;
            // }

            &:hover  ul {
                display: block;
            }
        }
        
        a {
            text-decoration: none;
            color: #fff;
            font-family: Montserrat;
            font-size: 0.875rem;
            font-weight: 300;
    
            &:hover,
            &:focus {
            color: #c7b299;
            }
        }

        .dropdown_menu {
            position: absolute;
            min-width: 240px;
            padding: 0;
            left: 0;
            top: 100%;
            background: #191919;
            display: none;

            &-item {
                padding: 0 22px;

                a {
                   line-height: 40px;
                   border-bottom: 1px solid #242424;
                   transition: all .3s ease-in-out;
                   position: relative;
                   display: block;

                   &:after {
                       position: absolute;
                       content: "";
                       width: 7px;
                       height: 10px;
                       background: url(../../../dist/img/angle-right-solid.svg) center center no-repeat;
                       background-size: cover;
                       top: 50%;
                       right: 0;
                       transform: translateY(-50%);
                       transition: all .3s ease-in-out;
                   }

                   &:hover:after {
                       right: -5px;
                   }
                   
                }

            }


            
        }
        
    }

   

    form.search {
        position: relative;

        .submit {
            display: block;
            background: url(../img/search.png) center center no-repeat;
            background-size: cover;
            width: 24px;
            height: 24px;
            border: none;
            cursor: pointer;
            
            &:focus {
                outline: none;
            }
        }

       

        input[type="search"] {
            position: absolute;
            right: 40px;
            width: 0;
            padding: 0px;
            height: 5px;
            top: 50%;
            transform: translateY(-50%);
            transition: all .5s ease-in-out;
            border: none;
            background-color: #fff;
            border-radius: 3px;
            color: #333;
            box-shadow: 0 3px 0 #736357;

            &:focus {
                display: block;
                width: 300px;
                padding: 10px;
                min-height: 30px;
                padding: 20px 20px 20px 20px;
                outline: #fff;
            }
        }

        &:focus,
        &:hover {
            input[type="search"] {
                display: block;
                width: 300px;
                padding: 20px 20px 20px 20px;
                min-height: 30px;
            }
        }
    

    }

    .basket {
        position: relative;
        margin-right: 28px;

        &_open {
            cursor: pointer;

            img {
                transition: all .3s ease-in-out;
            }

            &:hover img {
                opacity: 0.5;
            }
        }

       &_content {
           position: absolute;
           background: #191919;
           padding: 20px;
           min-width: 240px;
           top: 50px;
           right: 0;
           display: none; 
           transition: all .3s ease-in-out;

           .basket_close {
               position: absolute;
               top: 10px;
               right: 10px;
               width: 20px;
               height: 20px;
               display: block;
               cursor: pointer;

               &:before,
               &:after {
                   content: "";
                   width: 20px;
                   height: 1px;
                   background: #666;
                   position: absolute;
                   top: 50%;
                   left: 0;
                   display: block;
               }

               &:before {
                   transform: rotate(45deg);
               }

               &:after {
                   transform: rotate(-45deg);
               }

               &:hover:before,
               &:hover:after {
                   background: #fff;
               }
           }
          
       }

        &_content-list {
            padding: 0;

            .empty {
                color: #666;
                font-size: 0.875rem;
            }
        }

        #basketSwitch {
            display: none;

            &:checked ~ .basket_content {
                display: block;
            }
        }
       
    }

   
    
}